[Unit]
Description=idle management (swaylock + river wm)

[Service]
ExecStart=swayidle -d -w
ExecReload=kill -SIGUSR2 $MAINPID

[Install]
WantedBy=default.target
