[Unit]
Description=idle management (swaylock + river wm)

[Service]
ExecStart=/home/sam/bin/river-idle.sh
ExecReload=kill -SIGUSR2 $MAINPID

[Install]
WantedBy=default.target
