tooltip {
    font-family: JetBrainsMono NF;
    font-size: 22px;
    color: #c6d0f5; /* text */
    background-color: #303446; /* base */}

window#waybar {
    font-family: JetBrainsMono NF;
    font-size: 22px;
    color: #c6d0f5; /* text */
    background-color: #303446; /* base */
    transition-property: background-color;
    transition-duration: 0;
}

#tags {
    margin: 0 0px;
    padding: 0 0px;
}

#tags button {
    color: #c6d0f5; /* text */
    background-color: #303446; /* base */    
    padding: 0 12px;
}

#tags button.focused {
    font-weight: 900;
    font-style: italic;
    color: #f2d5cf; /* rosewater */
}

#tags button.urgent {
    color: #e78284; /* red */
}

#tags button:hover {
    font-weight: 900;
    font-style: italic;    
    color: #303446; /* base */
    background: #f2d5cf; /* rosewater */
    transition-property: background-color;
    transition-duration: 0;
}

#tags button:not(.occupied):not(.focused) {
  all: unset;
	font-size: 0;
	min-width: 0;
	min-height: 0;
	padding: 0 0;
	border: 0;
}

#window,
#mode,
#clock,
#network,
#custom-mullvad,
#pulseaudio,
#idle_inhibitor,
#battery,
#tray {
    padding: 0 10px;
    margin: 0 0px;
}

#mode {
    font-style: italic;
    color: #f38ba8; /* red */
}

#clock {
    border-bottom: 3px solid #cba6f7; /* mauve */
}

#network {
    border-bottom: 3px solid #eba0ac; /* maroon */
}

#custom-mullvad {
    border-bottom: 3px solid #fab387; /* peach */
}

#pulseaudio {
    border-bottom: 3px solid #f9e2af; /* yellow */
}

#idle_inhibitor {
    border-bottom: 3px solid #a6e3a1; /* green */
}

#battery {
    border-bottom: 3px solid #94e2d5; /* teal */
}

#tray {
    border-bottom: 3px solid #89b4fa; /* blue */
}
