* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    /* font-weight: bold; */
    min-height: 0;
}

window#waybar {
    color: #D3C6AA; /* default fg */
    background-color: #2D353B; /* default bg */
}

#workspaces {
    margin: 0 0px;
    padding: 0 0px;
}

#workspaces button {
    color: #D3C6AA; /* default fg */
    padding: 0 16px;
}

#workspaces button.focused {
    color: #A7C080; /* green */
    border-bottom: 2px solid #A7C080; /* green */
}

#workspaces button.urgent {
    color: #E67E80; /* ;red */
    border-bottom: 2px solid #E67E80; /* red */
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    transition-duration: inherit;
    color: #DBBC7F; /* yellow */
    background: #2D353B; /* default bg */
    border-bottom: 2px solid #DBBC7F; /* yellow */
}

#mode {
    font-style: italic;
    color: #E67E80; /* red */
    padding: 0 8px;
    margin: 0 0px;
}

#custom-ncspot,
#clock,
#idle_inhibitor,
#cpu,
#memory,
#temperature,
#custom-mullvad,
#network,
#pulseaudio,
#tray {
    color: #D3C6AA; /* default fg */
    background: #2D353B; /* default bg */
    padding: 0 8px;
    margin: 0 0px;
}

#clock {
    color: #D699B6; /* purple */
    border-top: 2px solid #D699B6; /* purple */
}

#cpu {
    color: #7FBBB3; /* blue */
    border-top: 2px solid #7FBBB3; /* blue */
}

#memory {
    color: #83C092; /* aqua */
    border-top: 2px solid #83C092; /* aqua */
}

#temperature {
    color: #A7C080; /* green */
    border-top: 2px solid #A7C080; /* green */
}

#network {
    color: #DBBC7F; /* yellow */
    border-top: 2px solid #DBBC7F; /* yellow */
}

#pulseaudio {
    color: #E69875; /* orange */
    border-top: 2px solid #E69875; /* orange */
}

#battery,
#battery.charging,
#battery.plugged,
#battery.full,
#custom-mullvad.connected, 
#idle_inhibitor.activated {
    color: #2D353B; /* default bg */
    background: #A7C080; /* green */
    padding: 0 8px;
    margin: 0 0px;
}

#battery.discharging,
#pulseaudio.muted, 
#network.disconnected,
#custom-mullvad.disconnected,
#idle_inhibitor.deactivated {
    color: #2D353B; /* default bg */
    background: #E67E80; /* red */
    padding: 0 8px;
    margin: 0 0px;
}

#tray {
    border-top: 2px solid #D3C6AA; /* default fg */
}
