* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font, Source Code Pro Nerd Font;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #002b36;
    color: #eee8d5;
}

#workspaces {
    color: #eee8d5;
    background-color: #586e75;
}

#workspaces button {
    padding: 0 8px;
    color: #eee8d5;
    transition-duration: 0.5s;
}

#workspaces button:hover {
    color: #002b36;
    background-color: #eee8d5;
}

#workspaces button.focused {
    /* background-color: #859900; */
    color: #fdf6e3;
    box-shadow: inset 0 0 8px #b58900;
}

#workspaces button.urgent {
    background-color: #dc322f;
    color: #fdf6e3;
}

#workspaces button.focused:hover {
    color: #002b36;
    background-color: #eee8d5;
}

#mode {
    color: #dc322f;
    background-color: #073642;
    padding: 0 10px;
    margin: 0 0px;
}

#custom-ncspot {
    background-color: #073642;
    padding: 0 10px;
    margin: 0 0px;
}

#clock.1, #clock.2 {
    background-color: transparent;
    padding: 0 10px;
    margin: 0 0px;
}

#cpu, #memory, #temperature {
    background-color: #073642;
    padding: 0 10px;
    margin: 0 0px;
}

#battery, #network,
#pulseaudio, #tray {
    background-color: #586e75;
    padding: 0 10px;
    margin: 0 0px;
}

#battery.charging, #battery.plugged {
    color: #eee8d5;
    background-color: #859900;
}

#network.disconnected {
    background: #dc322f;
}

#pulseaudio.muted {
    background: #dc322f;
}

@keyframes blink {
    to {
        background-color: #dc322f;
    }
}

#custom-arrow1 {
	color: #073642;
	background: transparent;
}

#custom-arrow2 {
	color: #073642;
	background: transparent;
}

#custom-arrow3 {
	color: #586e75;
	background-color: #073642;
}

#custom-arrow4 {
	color: #073642;
	background: transparent;
}

#custom-arrow5 {
	color: #586e75;
	background-color: #073642;
}
