@import "themes/kanagawa.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, FiraCode Nerd Font, FantasqueSansMono Nerd Font;
    font-size: 22px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    color: @fujiWhite;
    background-color: @waveBlue1;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces {
    margin: 0 0px;
    padding: 0 0px;
}

#workspaces button {
    color: @fujiWhite;
    padding: 0 10px;
}

#workspaces button.focused {
    color: @sumiInk2;
    background-color: @autumnGreen; /* blue */
}

#workspaces button.urgent {
    color: @sumiInk2;
    background-color: @samuraiRed; /* red */
}

#workspaces button:hover {
    color: @sumiInk2;
    background: @waveRed; /* purple */
}

#mode {
    font-style: italic;
    color: @samuraiRed; /* red */
    padding: 0 10px;
    margin: 0 0px;
}

#custom-ncspot,
#clock,
#idle_inhibitor,
#cpu,
#memory,
#temperature,
#custom-mullvad,
#network,
#pulseaudio,
#tray {
    color: @fujiWhite;
    background: @waveBlue1;
    padding: 0 10px;
    margin: 0 0px;
}

#battery {
    color: @sumiInk2;
    background: @waveRed;
    padding: 0 10px;
    margin: 0 0px;
}

#custom-mullvad.connected,
#battery.charging,
#battery.plugged {
    color: @sumiInk2;
    background: @autumnGreen; /* green */
    padding: 0 10px;
    margin: 0 0px;
}

#pulseaudio.muted, 
#network.disconnected,
#custom-mullvad.disconnected {
    color: @sumiInk2;
    background: @waveRed; /* red */
    padding: 0 10px;
    margin: 0 0px;
}
