window {
  color: #D3C6AA; /* default fg */
  background-color: #2D353B; /* default bg */
  font-size: 16px;
  font-family: JetBrainsMono Nerd Font;
}

#input {
  color: #D3C6AA; /* default fg */
  background-color: #2D353B; /* default bg */
  border-color: #D3C6AA; /* default fg */
  padding: 4px;
}

#input:focus {
	background-color: #343F44; 
}

#entry {
  color: #D3C6AA; /* default fg */
  background-color: #2D353B; /* default bg */
  padding: 4px;
}

#entry:selected {
	background-color: #343F44; 
}

#entry image {
    padding-right: 8px;
}
