window {
  color: #C5C8C6; /* text */
  background-color: transparent;
  font-size: 22px;
  font-family: JetBrainsMono NF;
}

#outer-box {
  background-color: transparent;
  border: 0px solid #C5C8C6; /* text */
}

#input {
  color: #C5C8C6; /* text */
  background-color: #282A2E; /* bg1 */
  border: 0px solid #C5C8C6; /* text */
  padding: 8px;
}

#entry {
  background-color: #282A2E; /* bg1 */
  padding: 8px;
}

#entry:selected {
  color: #B5BD68; /* green */
  font-weight: 900;
  font-style: italic;
}

#entry image {
  padding-right: 8px;
}


